<div>
    <a href="首页.html"><img src="assets/image/common/simpleLogo.png" class="simpleLogo"></a>
</div>

<div>
    <div class="simpleSearchDiv pull-right">
        <input type="text" name="keyword" id="" placeholder="平衡车 原汁机">
        <button type="button" class="serchButton">搜天猫</button>
        <div class="searchBelow">
        <span><a href="#nowhere">冰箱</a><span>|</span></span>
        <span><a href="#nowhere">空调</a><span>|</span></span>
        <span><a href="#nowhere">女表</a><span>|</span></span>
        <span><a href="#nowhere">男表</a><span>|</span></span>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
