<app-search-bar></app-search-bar>

<!-- 轮播图侧边的分类菜单 -->
<div class="categoryWithCarousel">

  <!-- 分类菜单 -->
  <div style="position: relative;">
    <div class="categoryMenu">
      <div class="eachCategory" [class.sele]="hover_cate_id == cate.c_id" *ngFor="let cate of all_cate_good" (mouseenter)="cate_enter(cate.c_id)" (click)="cate_click(cate.c_id)" (mouseleave)="cate_leave(cate.c_id)">
        <span class="glyphicon glyphicon-link"></span><a> {{cate.c_name}}</a>
      </div>
    </div>
  </div>

 <!-- 分类菜单子菜单 -->
  <div style="position: relative;left:0px;top:0px;" *ngIf="sub_cate != undefined" >
    <div class="productsAsideCategorys" (mouseenter)="sub_cate_enter(sub_cate.bl_c_id)" (mouseleave)="sub_cate_leave(sub_cate.bl_c_id)" >
      <div class="row" *ngFor="let cate_list of sub_cate.sub_cate_list">
        <a *ngFor="let cate of cate_list">{{cate}}</a>
        <div class="seperator"></div>
      </div>
    </div>
  </div>
</div>

<div style="height: 510 px"></div>

<div style="height: 15px;"></div>

<div>
  <!-- 轮播图顶部栏 -->
  <div class="headbar">

    <div class="head">
      <span class="glyphicon glyphicon-th-list" style="margin-left: 10px"></span>
      <span style="margin-left: 10px">商品分类</span>
    </div>

    <div class="rightMenu">
      <span><a href="#nowhere"><img src="../../assets/image/common/chaoshi.png" alt="supermarket"></a></span>
      <span><a href="#nowhere"><img src="../../assets/image/common/guoji.png" alt="internation"></a></span>
      <span (click)="cate_click(cate)" *ngFor="let cate of commend_cate"><a>{{cate.c_name}}</a></span>
    </div>
  </div>

  <!--轮播图-->
  <app-carousel></app-carousel>

</div>

<app-good-row *ngFor="let cate of all_cate_good" [cate]="cate"></app-good-row>

<!-- 首页商品行 -->
