<app-search-bar></app-search-bar>

<!-- 轮播图侧边的分类菜单 -->
<div class="categoryWithCarousel">

  <!-- 分类菜单 -->
  <div style="position: relative;">
    <div class="categoryMenu">
      <div class="eachCategory" [class.sele]="hover_cate_id == cate.c_id" *ngFor="let cate of all_cate_good" (mouseenter)="cate_enter(cate.c_id)" (click)="cate_click(cate.c_id)" (mouseleave)="cate_leave(cate.c_id)">
        <span class="glyphicon glyphicon-link"></span><a> {{cate.c_name}}</a>
      </div>
    </div>
  </div>

 <!-- 分类菜单子菜单 -->
  <div style="position: relative;left:0px;top:0px;" *ngIf="sub_cate != undefined" >
    <div class="productsAsideCategorys" (mouseenter)="sub_cate_enter(sub_cate.bl_c_id)" (mouseleave)="sub_cate_leave(sub_cate.bl_c_id)" >
      <div class="row" *ngFor="let cate_list of sub_cate.sub_cate_list">
        <a *ngFor="let cate of cate_list">{{cate}}</a>
        <div class="seperator"></div>
      </div>
    </div>
  </div>
</div>

<div style="height: 510 px"></div>

<div style="height: 15px;"></div>

<div>
  <!-- 轮播图顶部栏 -->
  <div class="headbar">

    <div class="head">
      <span class="glyphicon glyphicon-th-list" style="margin-left: 10px"></span>
      <span style="margin-left: 10px">商品分类</span>
    </div>

    <div class="rightMenu">
      <span><a href="#nowhere"><img src="../../assets/image/common/chaoshi.png" alt="supermarket"></a></span>
      <span><a href="#nowhere"><img src="../../assets/image/common/guoji.png" alt="internation"></a></span>
      <span (click)="cate_click(cate)" *ngFor="let cate of commend_cate"><a>{{cate.c_name}}</a></span>
    </div>
  </div>

  <!--轮播图-->
  <div class="carousel slide" id="solidDown" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-slide-to="0" calss="active" data-target="#solidDown"></li>
      <li data-slide-to="1" class="" data-target="#solidDown"></li>
      <li data-slide-to="2" class="" data-target="#solidDown"></li>
      <li data-slide-to="3" class="" data-target="#solidDown"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"><img src="assets/image/index/car1.jpg" alt="car1" class="carousel carouselImage"></div>
      <div class="item"><img src="assets/image/index/car2.jpg" alt="car2" class="carouselImage"></div>
      <div class="item"><img src="assets/image/index/car3.jpg" alt="car3" class="carouselImage"></div>
      <div class="item"><img src="assets/image/index/car4.jpg" alt="car4" class="carouselImage"></div>
    </div>
  </div>
  <div class="carouselBackgroundDiv"></div>
</div>

<!-- 首页商品行 -->
<div class="homepageCategoryProducts" *ngFor="let cate of all_cate_good">
  <div class="eachHomepageCategoryProducts">
    <div class="left-mark"></div>
    <span class="categoryTitle">{{cate.c_name}}</span>
    <br>

    <!-- 单个商品 -->
    <div class="productItem" *ngFor="let good of cate.goods" (click)="good_click(good)">
      <a><img src={{good.img_src}} alt=""></a>
      <a class="productItemDescLink">
        <span class="productItemDesc">{{good.g_name}}</span>
      </a>
      <span class="productPrice">{{good.price}}</span>
    </div>
    <div style="clear: both;"></div>

  </div>
</div>
