@import 'src/assets/scss/base';

.sele{
  background:white;
  color:#87cefa;
}

div.categoryMenu {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 200px;
  margin-left: 20px;
  margin-top: 52px;
  a {
    color: #000;
    &:hover {
      color: lightskyblue;
      text-decoration: none;
    }
  }
}

div.eachCategory {
  line-height: 39px;
  padding-left: 10px;
  font-size: 14px;
  span{
    margin-left: 10px;
  }
}

div.productsAsideCategorys {
  width: 800px;
  height: 510px;
  background-color: white;
  margin-left: 220px;
  margin-top: 52px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  div.row {
    margin: 20px 80px 0px 80px;
  }
  a {
    color: #999;
    font-size: $n_f_s;
    margin: 8px;
  }
}

div.seperator {
  margin-top: 20px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #e7e7e7;
}

div.categoryWithCarousel {
  width: 100%;
  position: absolute;
}

div.headbar {
  background-color: $m_c;
}

div.head {
  display: inline-block;
  margin-left: 20px;
  width: 200px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: $m_c;
}

div.rightMenu {
  display: inline-block;
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  span {
    margin: 0px 20px;
  }
  img {
    height: 30px;
  }
}

img.catear {
  position: absolute;
  height: 15px;
  display: none;
}

img.endpng {
  display: block;
  width: 82px;
  margin: 0px auto;
}
