div.tmall{
  margin: 20px;
}

div.log{
  position: absolute;
  border: 1px solid #999;
  right: 100px;
  top: 200px;
  background-color: white;
  padding: 70px 40px;
}

span.zhdl{
  font-size: 18px;
  font-weight: bold;
}

div.input-group{
  margin:20px 0px;
}

div.input-group input{
  border: 1px solid #CBCBCB;
  height: 40px;
  width: 244px;
}

span.gay a{
  color: #999;
}

span.gay a:hover{
  color:#c40000;
}

div.loginbtn{
  margin-top: 20px;
  text-align: center;
  line-height: 20px;
}

button{
  border: 1px solid #c40000;
  background-color: #c40000;
  color: white;
  width: 285px;
  height: 30px;
}

