@import 'src/assets/scss/base';

div.simpleSearchDiv{
    background-color: $m_c;
    width: 300px;
    height: 40px;
    margin: 10px 20px 40px;
    border: 1px;
    display: block;
    input{
      width: 225px;
      height: 34px;
      border: 1px solid transparent;
      margin: 2px;
      outline: none;
    }
    button{
      width: 60px;
      border:1px solid transparent;
      background-color: $m_c;
      color: white;
      font-size: 14px;
    }
}

div.searchBelow{
    margin-top: 3px;
    margin-left: -20px;
    span{
       color: #999;
    }
    a{
      padding: 0px 20px 0px 20px;
      font-size: 14px;
    }
}

img.simpleLogo{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}
div.pull-right a{
    color:#999;
    &:hover{
      text-decoration: none;
    color: $m_c;
    }
}