#solidDown {
  height: 510px;
  width: 1024px;
  margin: 0px auto;
}

.carousel__image {
  height: 510px !important;
}

.carousel-background {
  position: absolute;
  top: 209px;
  width: 100%;
  height: 510px;

  z-index: -1;

  background-color: #e8e8e8;
}
