@import 'src/assets/scss/base';

.tmall{
  margin: 20px;
}

.log{
  position: absolute;
  border: 1px solid #999;
  right: 100px;
  top: 200px;
  background-color: white;
  padding: 70px 40px;
  width: 360px;
  
  .zhdl{
    font-size: 18px;
    font-weight: bold;
  }

  .input-group{
    margin:20px 0px;

    input {
      border: 1px solid #CBCBCB;
      height: 40px;
      width: 244px;
    }
  }

  .gay a {
    color: #999;
    cursor: pointer;

    &:hover {
      color: $m_c;
    }
  }

  .loginbtn{
    margin-top: 20px;
    text-align: center;
    line-height: 22px;

    button{
      border: 1px solid #c40000;
      background-color: #c40000;
      color: white;
      width: 285px;
      height: 34px;
    }
  }
}